body{
    margin: 0; 
    padding: 0;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image:url("https://virtual-games.virtustec.com/desktop-v4/default/spin2win-background-royale.b173736335143c77aa0c.png");
}